.border{
    border: 2px solid red;
    margin: 3px;
 }

 .flex{
    display: flex;
 }

 .justify-center{
    justify-content: center;
 }

 .items-center{
    align-items: center;
 }

 .bg-black{
   background-color: black;
   color: white;
 }

 .invert{
   filter: invert(1);
 }

.bg-grey{
   background-color: #121212;
}

.rounded{
   border-radius: 7px;
}

.m-1{
   margin: 5px;
}

.p-1{
   padding: 10px;
}

/* Apply custom scroll bar styles to the entire page */
::-webkit-scrollbar {
   width: 12px; /* Width of the scroll bar */
}

/* Scroll bar track (background) */
::-webkit-scrollbar-track {
   background: #2a2a2a; /* Dark gray background for the track */
   border-radius: 10px; /* Rounded corners for track */
}

/* Scroll bar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
   background-color: #555; /* Darker thumb */
   border-radius: 10px; /* Rounded corners for thumb */
   border: 3px solid #2a2a2a; /* Padding around the thumb */
}

/* Scroll bar thumb when hovered */
::-webkit-scrollbar-thumb:hover {
   background-color: #888; /* Lighter thumb on hover */
}

/* Scroll bar track when active (clicking) */
::-webkit-scrollbar-thumb:active {
   background-color: #aaa; /* Even lighter when active */
}


.button-cont{
   width: 150px; /* Adjust as needed */
   height: 30px;/* If needed */
   border: none; /* To remove any default browser styling */
   outline: none;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}